<!-- 
 COPYRIGHT LICENSE: This information contains sample code provided in source code form.
 You may copy, modify, and distribute these sample programs in any form without payment
 to IBM for the purposes of developing, using, marketing or distributing application
 programs conforming to the application programming interface for the operating platform
 for which the sample code is written.
 
 Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON 
 AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING,
 BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY,
 SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ANY WARRANTY OR
 CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
 INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF
 THE SAMPLE SOURCE CODE. IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT,
 UPDATES, ENHANCEMENTS OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.
 
 (C) Copyright IBM Corp. 2012.
 All Rights Reserved. Licensed Materials - Property of IBM.
-->
<server description="This sample shows how to use a MongoDB database within WebSphere Application Server Liberty Profile">
	<featureManager>
		<feature>mongodb-2.0</feature>
		<feature>servlet-3.0</feature>
		<feature>jndi-1.0</feature>
	</featureManager>

	<library id="mongo-lib">
		<file name="mongo-java-driver-2.11.1.jar" />
	</library>
	
	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" />

	<application name="mongoDBApp" location="mongoDBApp.war">
		<classloader commonLibraryRef="mongo-lib" />
	</application>

 	<mongo id="mongo" libraryRef="mongo-lib" hostNames="db" ports="27017"/>
	<mongoDB jndiName="mongo/sampledb" mongoRef="mongo" databaseName="sampleDb"/>

	    <!--  
    To test the sample, navigate to the following URL in your web browser:
       http://localhost:@com.ibm.ws.mongodb_sample.mongodb.http_port@/mongoDBApp
    -->
</server>

